# OS
.DS_Store

# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
.next/
out/
*.tsbuildinfo

# Turborepo
.turbo/

# Env
.env
.env.*
!.env.example

# Prisma local db
packages/db/prisma/*.db

# Coverage / test
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Database dumps written by scripts/db-backup.sh — never in the repository.
backups/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
